/*CREDITS:
background-image by <a href="https://pixabay.com/users/mysticsartdesign-322497/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=863418">Mystic Art Design</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=863418">Pixabay</a>
*/

/*Basic styling */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	/*formatting text*/
	font-size: 85%;
	font-family: "Montserrat", Georgia, serif;
    color: #ffffff;

    line-height: 2;
    
    background-color: #000000; 
}
/*
===============================================================================
Wrapper styling
*/
.wrapper {
    min-height: 100vh
}
.wrapper >* {
    padding: 10px;
}
/*
===============================================================================
Page Header styling
*/
.page-header {
    margin-top: 40px;
}
.page-header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main-img {
    border-radius: 50%;
}
/*
===============================================================================
Main styling
*/
.page-main {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 900px) {
	.page-main  {
		flex-direction: row;
	}
}
.page-main div {
    display: flex;
    flex-direction: column;
	align-items: center;	/*horizontally justified center*/
    flex-grow: 1;
    margin: 15px;	
}
/*
===============================================================================
Header styling
*/
h1 {
    font-size: 1.1em;
    letter-spacing: 4px; 
	word-spacing: 8px;	
}
/*
===============================================================================
Button styling
*/
input, button {
    padding: 5px 8px;
    margin: 5px 0;
    border-radius: 6px;
    border: none;
}

@media screen and (max-width: 900px) {
	input {
        display: block;
        /*margin: 0 0 8px;*/
    }   
}
button {
    cursor: pointer;
    background-color: rgba(229, 33, 101, 0.5);
}
button:hover {
    background-color: rgba(229, 33, 101, 1);
}
/*
===============================================================================
List styling
*/
li {
    display: block;
    padding: 10px;
    overflow: hidden;
    border-bottom: rgba(242, 242, 242, 0.1) dashed 1px;
}
li:before {
    content: "\2605";
    display: inline-block;
    line-height: 2;
    opacity: 0.5;
    margin-right: 8px;

    color: #e52165;
}
li i {
    float: right;
    padding: 8px;
    margin-left: 30px;
    color: rgba(229, 33, 101, 0.5);
}
/*
===============================================================================
Autocomplete search*/
.autocomplete {
    /*the container must be positioned relative:*/
   position: relative;
}
.autocomplete-items {
    position: absolute;
}
.litems {
    cursor: pointer;
    border: none;
    padding: 0;
}
.litems:before {
    content: '';
}

/*
===============================================================================
Page footer
*/
blockquote {
    display: block;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 1.5em;
    position: relative;   
}
blockquote p {
    font-family: "Lucida Calligraphy", "Marko One", serif;
    font-style: italic;
    font-size: 0.7em;
}
blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #a2570a);
    width: 1rem;
    height: 1rem;
    font: 2.5em/1.5em serif;
    color: #a2570a;
    text-align: center;
}
blockquote:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    font-size: 0.6em;
    font-weight: bolder;
    color: #103c5a;
}
.quote {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;	/*horizontally justified center*/
}


